<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DonFood</title>



    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css"/>




    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarLeft">
                <ul class="navbar-nav ms-auto topnav">
                    <a class="nav-link" th:href="@{'/api'}"> <i class="fas fa-home mx-1"></i>  </a>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/api/restaurant'}">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/api/ong'}">ONGs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/api/donation'}">Donations</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item" th:if="${#authentication !=null && #authentication.getPrincipal() != 'anonymousUser'}">
                        <a class="nav-link" th:href="@{'/profile'}"> <i class="fas fa-user mx-1"></i>  </a>
                    </li>
                    <li class="nav-item" th:if="${#authentication !=null && #authentication.getPrincipal() != 'anonymousUser'}">
                        <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/logout'}">Sign Out </a>
                    </li>

                    <li class="nav-item" th:if="${#authentication ==null || #authentication.getPrincipal() == 'anonymousUser'}">
                        <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/login'}" >Sign In</a>
                    </li>&nbsp;
                    <li class="nav-item" th:if="${#authentication ==null || #authentication.getPrincipal() == 'anonymousUser'}">
                        <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/api/registerRestaurantForm'}" >Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</head>
<body>

<form method="POST" th:action="@{/api/registerRestaurant}" th:object="${restaurant}" th:align="center">

    <div class="container" style="margin-top: 50px">
        <div class="panel panel-default">
            <div  class="panel-heading">
                <h3 th:align="center">Register restaurant</h3>
            </div>
            <br>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7 ">
                        <div class="form-row">
                            <label class="col-md-4">Email: </label>
                            <input th:field="*{accountRequestDTO.email}" required/>
                        </div>
                        <br>

                        <div class="form-row">
                            <label class="col-md-4">Restaurant Name: </label>
                            <input th:field="*{accountRequestDTO.fullName}" required/>
                        </div>
                        <br>

                        <div class="form-row">
                            <label class="col-md-4">Password: </label>
                            <input th:field="*{accountRequestDTO.passwordDecoded}" type="password" required/>
                        </div>
                        <br>

                        <div class="form-row">
                            <label class="col-md-4">Fiscal Id Code: </label>
                            <input th:field="*{fiscalIdCode}"/>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>

<br><br><br>
            <div class="panel-heading" th:align="center">
                <a class="nav-link" th:href="@{'/api/registerOngForm'}">Register ONG</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>