<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DonFood</title>



    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css"/>




    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarLeft">
                <ul class="navbar-nav ms-auto topnav">
                    <a class="nav-link" th:href="@{'/api'}"> <i class="fas fa-home mx-1"></i>  </a>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/api/restaurant'}">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/api/ong'}">ONGs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/api/donation'}">Donations</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item" th:if="${#authentication !=null && #authentication.getPrincipal() != 'anonymousUser'}">
                        <a class="nav-link" th:href="@{'/profile'}"> <i class="fas fa-user mx-1"></i>  </a>
                    </li>
                    <li class="nav-item" th:if="${#authentication !=null && #authentication.getPrincipal() != 'anonymousUser'}">
                        <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/logout'}">Sign Out </a>
                    </li>

                    <li class="nav-item" th:if="${#authentication ==null || #authentication.getPrincipal() == 'anonymousUser'}">
                        <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/login'}" >Sign In</a>
                    </li>&nbsp;
                    <li class="nav-item" th:if="${#authentication ==null || #authentication.getPrincipal() == 'anonymousUser'}">
                        <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/api/registerRestaurantForm'}" >Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</head>
<body>
<div class="container " style="margin-top: 50px">
    <div class="row align-self-center">
        <div class="col-md-3 col-md-offset-4"></div>
        <div class="col-md-7 col-md-offset-4">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading" >
                        <h1 class="panel-title" th:text="${restaurant.account.fullName}">Restaurant Name</h1>
                        <br>
                        <br>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <p>Email:</p>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${restaurant.account.email}">Email</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <p5>Fiscal ID</p5>:</p5>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${restaurant.fiscalIdCode}">Fiscal ID</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <p5>Social Score:</p5>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${restaurant.socialScore != null ? restaurant.socialScore:'-'}">Social Score</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <p>Access rights:</p>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${restaurant.account.accessRights}">Access rights</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <p>Account verified:</p>
                            </div>
                                <div class="col-md-6" readonly= "true">
                                    <p th:if="${restaurant.account.accountVerified == true}"> <i class="fas fa-check-square"></i> </p>
                                    <p th:if="${restaurant.account.accountVerified == false}"><i class="fa-regular fa-square"></i></i> </p>
                                </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <p>Created at:</p>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${restaurant.account.createdAt}">Created at</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5>Donations:</h5>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li th:each="donation:${restaurant.donations}" th:text="${donation.product}">
                                        product
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <a href="#" th:href="@{'/api/restaurant/edit/' + ${restaurant.restaurantId}}"><i class="fa-solid fa-pen"></i>  </a>
            <a href="#" th:href="@{'/api/restaurant/delete/' + ${restaurant.restaurantId}}"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
</div>
</body>
</html>